<!-- Navigation -->
<nav class="navbar">
    <div class="nav-container">
        <a href="/" class="nav-logo">
            <svg class="logo-icon" viewBox="0 0 24 24" fill="none" stroke="currentColor">
                <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
            </svg>
            <span class="logo-text"><span class="logo-white">booked</span><span class="logo-teal">.rentals</span></span>
        </a>
        <button class="hamburger" id="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <ul class="nav-menu" id="navMenu">
            <li><a href="/articles/" class="nav-link">Articles</a></li>
            <li><a href="/products/" class="nav-link">Products</a></li>
            <li><a href="/news/" class="nav-link">News</a></li>
            <li><a href="/#about" class="nav-link">About</a></li>
            <li><a href="/#university" class="nav-link">AlwaysBooked University</a></li>
            <li><a href="/#cta-guide" class="nav-link cta-link">Get the Free Guide</a></li>
        </ul>
    </div>
</nav>
